body{
    background: black;
}
img{
    width: 1000px;
    height: 350px;
}

h4{
    color: white;
}

div{
    background: black;
    height: 300px;
    width: 700px;
    border:1px solid;
    border-color:blue;
    border-style: double;
 font-size:50px;
   
}

h2{
    color: white;
  
}

li{
    color: red;
}

table{
    background: blue;
    height: 400px;
    width: 600px;
    font-size:30px;
}

td{
    color:white;
}

th{
    color:blue;
}

tr{
 background-color: black;
}

button{
    width: 500px;
    height: 200px; 
    font-size:30px;
}

textarea{
    width: 400px;
    height: 200px;
}



